<script lang="ts" setup>
import UiSlideover from "~/components/Common/UiSlideover.vue";
import { useElementStore } from "~/store/useElementStore";
import { ElementsEnum } from "~/api/interfaces/ElementsEnum";
import type { IIcon, ILink, IText } from "~/components/Lego/Components/interfaces";
import { TEXT_SIZES } from "~/api/constants";
import { useBlocksStore } from "#imports";
import { cloneDeepWith } from "lodash-es";

const elementStore = useElementStore();
const blocksStore = useBlocksStore();

function close() {
  blocksStore.updateBlock(elementStore.block!);
  elementStore.close();
}
</script>
<template>
  <UiSlideover
    v-model="elementStore.isOpened"
    :overlay="false"
    title="Настройки элемента"
    @close="close"
    :ui="{width: 'max-w-lg'}"
  >
    <template v-if="elementStore.isOpened && elementStore.block && elementStore.element">
      <div class="body">
        <div class="form">

          <template v-if="elementStore.elementType === ElementsEnum.TEXT">
            <label class="label">
              <span>Текст</span>
              <UTextarea v-model="(elementStore.element as IText).value" />
            </label>
            <label class="label">
              <span>Размер текста</span>
              <USelectMenu
                v-model="(elementStore.element as IText).size"
                :options="TEXT_SIZES"
                valueAttribute="id"
              >
                <template #option="{ option }">
                  <div :class="getTextClassesBySize(option.id)">{{ option.label }}</div>
                </template>
              </USelectMenu>
            </label>
          </template>

          <template v-if="elementStore.elementType === ElementsEnum.ICON">
            <label class="label">
              <span>Название иконки</span>
              <UInput v-model="(elementStore.element as IIcon).value" />
            </label>
            <UAlert
              class="mt-[-10px]"
              :ui="{padding: 'p-1'}"
              icon="i-heroicons-exclamation-circle"
              description="Иконка указывается в формате i-heroicons-{название_иконки}"
            >
            </UAlert>
            <label class="label">
              <span>Размер иконки</span>
              <USelectMenu
                v-model="(elementStore.element as IIcon).size"
                :options="TEXT_SIZES"
                valueAttribute="id"
              >
                <template #option="{ option }">
                  <div :class="getTextClassesBySize(option.id)">{{ option.label }}</div>
                </template>
              </USelectMenu>
            </label>
          </template>

          <template
            v-if="elementStore.elementType === ElementsEnum.LINK || elementStore.elementType === ElementsEnum.BUTTON">
            <label class="label">
              <span>Текст</span>
              <UTextarea v-model="(elementStore.element as ILink).title" />
            </label>
            <label class="label">
              <span>Ссылка</span>
              <UInput v-model="(elementStore.element as ILink).href" />
            </label>
            <label class="label">
              <span>Открывать в новом окне</span>
              <UToggle v-model="(elementStore.element as ILink).openInNewTab" />
            </label>
          </template>

        </div>
      </div>
    </template>
  </UiSlideover>
</template>
<style lang="scss" scoped>
.body {
  padding: 2px 20px 2px 2px;
  max-height: calc(100vh - 100px);

  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .label {
      span {
        font-size: 12px;
        font-weight: 500;
      }

      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }
}
</style>