<script lang="ts" setup>
import { AddButtonInsertPlaceType } from "~/components/Lego/interfaces";
import LegoAddButton from "~/components/Lego/LegoAddButton.vue";
</script>
<template>
  <div class="block">
    <LegoAddButton :type="AddButtonInsertPlaceType.CENTER" />
  </div>
</template>
<style lang="scss" scoped>
.block {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $gray2;
}
</style>