<script lang="ts" setup>
import UiSlideover from "~/components/Common/UiSlideover.vue";
import { BlocksType, getAllBlocks } from "~/api/mocks/blocks.mock";
import type { IBlock } from "~/api/interfaces/IBlock";
import { groupBy } from "lodash-es";
import LegoComponent from "~/components/Lego/LegoComponent.vue";
import { useGalleryStore } from "~/store/useGalleryStore";
import { useBlocksStore } from "~/store/useBlocksStore";
import { AddButtonInsertPlaceType } from "~/components/Lego/interfaces";
import { getCopiedBlock } from "~/utils/utils";
import { blocksTypeLang } from "~/lang/keysRU";

const galleryStore = useGalleryStore();
const blocksStore = useBlocksStore();
const allBlocksList = ref<IBlock<any>[]>([]);
const blocksByType = computed(() => groupBy(allBlocksList.value, (block: IBlock<any>) => block.type));
const blocksTypeKeys = computed(() => Object.keys(blocksByType.value) as BlocksType[]);
const selectedBlock = ref<BlocksType>(BlocksType.HEADER);

async function getBlocks() {
  try {
    allBlocksList.value = await getAllBlocks();
    console.log(blocksByType.value);
  } catch (e) {
    console.error(e);
  }
}

function handleSelectBlock(block: IBlock<any>) {
  if (galleryStore.insertPlace === AddButtonInsertPlaceType.CENTER) {
    blocksStore.blocks.push(getCopiedBlock(block));
  } else {
    const list = blocksStore.blocks;
    const pointerBlock = galleryStore.block;
    const pointerBlockIndex = list.findIndex((item) => item.id == pointerBlock?.id);
    const index = galleryStore.insertPlace === AddButtonInsertPlaceType.TOP ? pointerBlockIndex : pointerBlockIndex + 1;
    list.splice(index, 0, getCopiedBlock(block));
  }
  blocksStore.createBlock(block);
  handleClose();
}

function handleClose() {
  blocksStore.editDisabled = false;
  galleryStore.closeGallery();
}

getBlocks();
</script>
<template>
  <UiSlideover
    v-model="galleryStore.isOpened"
    @close="handleClose"
    :ui="{width: 'max-w-1/2'}"
    title="Выбор блока"
  >
    <div class="content">
      <div class="list">
        <div
          v-for="item in blocksTypeKeys"
          :id="item"
          class="list__item"
          :class="{'list__item_active': item === selectedBlock}"
          @click="selectedBlock = item"
        >
          {{ blocksTypeLang[item] }}
        </div>
      </div>
      <div class="blocks-list">
        <LegoComponent
          class="lego-block"
          v-for="block in blocksByType[selectedBlock]"
          :key="block.id"
          :block="block"
          @click.prevent="handleSelectBlock(block)"
        />
      </div>
    </div>
  </UiSlideover>
</template>
<style lang="scss" scoped>
.content {
  display: flex;

  .list {
    width: 300px;
    border-right: 1px solid $gray;
    height: calc(100vh - 65px);

    &__item {
      padding: 15px 5px;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      position: relative;
      color: #126DF7;

      &_active {
        color: #000;

        &:before {
          position: absolute;
          content: "";
          width: 6px;
          height: 100%;
          background: #FFDD2D;
          top: 0;
          left: -24px;
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid $gray;
      }
    }
  }

  .blocks-list {
    width: calc(100% - 300px);
    max-height: calc(100vh - 100px);
    padding-bottom: 20px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .lego-block {
      cursor: pointer;

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
      }

      &:not(:last-child) {
        border-bottom: 1px dashed #9a9797;
      }
    }
  }
}
</style>