<script lang="ts" setup>
import type { ISite } from "~/api/interfaces/ISite";
import { ActionTypes } from "~/components/Editor/utils/interfaces";

interface IEditorState {
  icon: string;
  type: ActionTypes;
  hasDivider?: boolean;
}

defineProps<{
  site: ISite;
  editorState: ActionTypes;
}>();
const emits = defineEmits<{
  (e: "update:editorState", type: ActionTypes): void,
  (e: "click:publish"): void,
}>();
const isPublishButtonLoading = ref(false);

const editorStateButtons: IEditorState[] = [
  {
    icon: "i-heroicons-code-bracket-square",
    type: ActionTypes.EDIT,
    hasDivider: true,
  },
  {
    icon: "i-heroicons-computer-desktop",
    type: ActionTypes.DESKTOP,
  },
  {
    icon: "i-heroicons-device-tablet",
    type: ActionTypes.TABLET,
  },
  {
    icon: "i-heroicons-device-phone-mobile",
    type: ActionTypes.PHONE,
  },
];

function handleEditorClick({ type }: IEditorState) {
  emits("update:editorState", type);
}

function handlePublishClick() {
  isPublishButtonLoading.value = true;
  setTimeout(() => {
    isPublishButtonLoading.value = false;
    emits("click:publish");
  }, 1500);
}
</script>
<template>
  <div class="header">
    <h2 class="site-name">{{ site.name }}</h2>
    <div class="editor-state-buttons">
      <template
        v-for="item in editorStateButtons"
        :key="item.type"
      >
        <UButton
          :icon="item.icon"
          size="xl"
          class="button"
          :color="item.type === editorState ? 'primary' : 'gray'"
          @click="handleEditorClick(item)"
        />
        <UDivider
          v-if="item.hasDivider"
          orientation="vertical"
          size="sm"
        />
      </template>
    </div>
    <UButton
      :loading="isPublishButtonLoading"
      @click="handlePublishClick"
    >
      Опубликовать
    </UButton>
  </div>
</template>
<style lang="scss" scoped>
.header {
  width: 100%;
  padding: 10px 36px 50px 36px;
  background-color: $gray;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .site-name {
    font-weight: 500;
    color: #919191;
  }

  .editor-state-buttons {
    display: flex;
    gap: 10px;

    .button {
      padding: 5px;
    }
  }
}
</style>