<script lang="ts" setup>
import type { ISite } from "~/api/interfaces/ISite";
import EditorHeader from "~/components/Editor/EditorHeader.vue";
import { ref } from "vue";
import { ActionTypes } from "~/components/Editor/utils/interfaces";
import EditorList from "~/components/Editor/EditorList.vue";

defineProps<{
  site: ISite,
}>();
defineEmits<{
  (e: 'publish'): void,
}>()

const editorState = ref(ActionTypes.EDIT);
</script>
<template>
  <div>
    <EditorHeader
      v-model:editorState="editorState"
      :site="site"
      @click:publish="$emit('publish')"
    />
    <EditorList />
  </div>
</template>