<script lang="ts" setup>
import type { IBlock } from "~/api/interfaces/IBlock";
import { BlockActions } from "~/components/Lego/interfaces";
import { useBlocksStore } from "~/store/useBlocksStore";
import LegoComponent from "~/components/Lego/LegoComponent.vue";
import EditorListEmptyCreateBlock from "~/components/Editor/EditorListEmptyCreateBlock.vue";
import EditorAllBlocksList from "~/components/Editor/EditorBlocksGallery.vue";
import { getCopiedBlock } from "~/utils/utils";
import ElementSettings from "~/components/EditorSettings/ElementSettings.vue";
import BlockSettings from "~/components/EditorSettings/BlockSettings/BlockSettings.vue";

const blocksStore = useBlocksStore();

function handleBlockAction(action: BlockActions, block: IBlock<any>) {
  // todo: Вызов API
  console.log(action, block);
  switch (action) {
    case BlockActions.VISIBLE_TOGGLE: {
      block.settings.isHidden = !block.settings.isHidden;
      blocksStore.updateBlock(block);
      break;
    }
    case BlockActions.COPY: {
      // const index = blocksStore.blocks.findIndex((item) => item.id === block.id);
      // blocksStore.blocks.splice(index, 0, getCopiedBlock(block));
      blocksStore.createBlock(block);
      break;
    }
    case BlockActions.DELETE: {
      blocksStore.removeBlock(block);
      break;
    }
    case BlockActions.UP: {
      const blockIndex = blocksStore.blocks.findIndex(item => item.id === block.id);
      if (blockIndex) {
        const prevBlock = blocksStore.blocks[blockIndex - 1];
        blocksStore.blocks[blockIndex - 1] = block;
        blocksStore.blocks[blockIndex] = prevBlock;
      }
      break;
    }
    case BlockActions.DOWN: {
      const blockIndex = blocksStore.blocks.findIndex(item => item.id === block.id);
      if (blockIndex !== blocksStore.blocks.length - 1) {
        const nextBlock = blocksStore.blocks[blockIndex + 1];
        blocksStore.blocks[blockIndex + 1] = block;
        blocksStore.blocks[blockIndex] = nextBlock;
      }
      break;
    }
  }
}
</script>
<template>
  <div class="page">
    <EditorListEmptyCreateBlock v-if="!blocksStore.blocks.length" />
    <div v-else>
      <LegoComponent
        v-for="block in blocksStore.blocks"
        :key="block.id"
        :block="block"
        @block-action="handleBlockAction"
      />
    </div>
    <EditorAllBlocksList />
    <BlockSettings />
    <ElementSettings />
  </div>
</template>
<style lang="scss" scoped>
.page {
  background-color: $gray;
  min-height: calc(100vh - 77px - 94px - 24px);
  width: 100%;
}
</style>