<script lang="ts" setup>
import { useAppStore } from "#imports";
import { checkIsGuardRoute } from "~/utils/guard-routes";
import { useRouter } from "vue-router";

const appStore = useAppStore();
const route = useRoute();
const router = useRouter();

onMounted(() => {
  const isMainSite = !route.path.split("/").includes("r");
  if (isMainSite) {
    appStore.initAuth().catch(() => {
      if (checkIsGuardRoute(route)) {
        router.push("/");
      }
    });
  }
});
</script>
<template>
  <NuxtLayout>
    <NuxtPage />
  </NuxtLayout>
</template>