<script lang="ts" setup>
import { AddButtonInsertPlaceType } from "~/components/Lego/interfaces";
import { useGalleryStore } from "~/store/useGalleryStore";
import type { IBlock } from "~/api/interfaces/IBlock";
import { useBlocksStore } from "~/store/useBlocksStore";

const props = withDefaults(defineProps<{
  type: AddButtonInsertPlaceType,
  block?: IBlock<any> | null,
}>(), {
  block: null,
});
const galleryStore = useGalleryStore();
const blocksStore = useBlocksStore();

function handleOpenClick() {
  galleryStore.openGallery(props.type, props.block);
  blocksStore.editDisabled = true;
}
</script>
<template>
  <UButton
    color="white"
    icon="i-heroicons-plus"
    :ui="{ rounded: 'rounded-full' }"
    size="lg"
    class="button"
    @click="handleOpenClick"
  />
</template>
<style lang="scss" scoped>
.button {
  box-shadow: 0 5px 20px rgba(0, 0, 0, .15);
}
</style>