<script lang="ts" setup>
import { computed } from "vue";
import type { IBlock } from "~/api/interfaces/IBlock";
import { useBlocksStore } from "~/store/useBlocksStore";
import { useBlockSettingsStore } from "~/store/useBlockSettingsStore";
import type { EditorSettingsType } from "~/store/useBlockSettingsStore";
import { cloneDeepWith } from "lodash-es";

const props = defineProps<{
  block: IBlock<any>,
}>();
const blocksStore = useBlocksStore();
const editorSettingsStore = useBlockSettingsStore();

const hasList = computed(() => {
  const list = props.block.data.list;
  return isArray(list) && list.length;
});

function handleSettingsClick(type: EditorSettingsType) {
  editorSettingsStore.openSettings(props.block, type);
}

function handleListCountActionClick(type: "minus" | "plus") {
  if (type === "minus") {
    props.block.data.list.pop();
  } else {
    const lastListItem = props.block.data.list[props.block.data.list.length - 1];
    props.block.data.list.push(cloneDeepWith(lastListItem));
  }
  blocksStore.updateBlock(props.block);
}

</script>
<template>
  <div class="settings gap-2 items-start">
    <UTooltip text="Изменить структуру">
      <UButton
        icon="i-heroicons-adjustments-horizontal"
        :class="editorSettingsStore.isOpened && editorSettingsStore.type === 'STRUCTURE' && 'ring-yellow-300'"
        color="white"
        :ui="{ rounded: 'rounded-full' }"
        @click="handleSettingsClick('STRUCTURE')"
      />
    </UTooltip>
    <UTooltip text="Изменить тему">
      <UButton
        icon="i-heroicons-paint-brush"
        :class="editorSettingsStore.isOpened && editorSettingsStore.type === 'BACKGROUND' && 'ring-yellow-300'"
        color="white"
        :ui="{ rounded: 'rounded-full' }"
        @click="handleSettingsClick('BACKGROUND')"
      />
    </UTooltip>
    <UButtonGroup
      v-if="hasList"
      class="list-settings"
    >
      <UButton
        icon="i-heroicons-minus"
        color="white"
        class="list-settings__minus"
        :disabled="block.data.list.length < 2"
        @click="handleListCountActionClick('minus')"
      />
      <div class="list-settings__count">
        <span>{{ block.data.list.length }}</span>
      </div>
      <UButton
        icon="i-heroicons-plus"
        color="white"
        @click="handleListCountActionClick('plus')"
      />
    </UButtonGroup>
  </div>
</template>
<style lang="scss" scoped>
.settings_active {
  outline: 3px solid $yellow;
}

.list-settings {
  &__count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    background-color: white;
    border-top: 1px solid rgb(229, 231, 235);
    border-bottom: 1px solid rgb(229, 231, 235);
  }

  &__minus {
    border-right: 1px solid rgb(229, 231, 235);
  }
}
</style>