<script lang="ts" setup>
import type { IBlock } from "~/api/interfaces/IBlock";
import HeaderType1 from "~/components/Lego/Components/Header/HeaderType1.vue";
import AdvantagesType1 from "~/components/Lego/Components/Advantages/AdvantagesType1.vue";
import LegoComponentActionButtons from "~/components/Lego/LegoComponentActionButtons.vue";
import { AddButtonInsertPlaceType, BlockActions } from "~/components/Lego/interfaces";
import LegoComponentSettingsButtons from "~/components/Lego/LegoComponentSettingButtons.vue";
import LegoAddButton from "~/components/Lego/LegoAddButton.vue";
import { capitalize } from "lodash-es";
import { useBlockSettingsStore } from "~/store/useBlockSettingsStore";
import { computed } from "vue";
import { getBackgroundColor } from "~/utils/utils";
import { useBlocksStore } from "~/store/useBlocksStore";
import FaqType1 from "~/components/Lego/Components/Faq/FaqType1.vue";
import FaqType2 from "~/components/Lego/Components/Faq/FaqType2.vue";
import ContactsType1 from "~/components/Lego/Components/Contacts/ContactsType1.vue";
import HeaderType2 from "~/components/Lego/Components/Header/HeaderType2.vue";
import MainType1 from "~/components/Lego/Components/Main/MainType1.vue";

const props = defineProps<{
  block: IBlock<any>;
}>();

const emits = defineEmits<{
  (e: "block-action", action: BlockActions, block: IBlock<any>): any;
}>();

const editorSettingsStore = useBlockSettingsStore();
const blocksStore = useBlocksStore();
const editDisabled = blocksStore.editDisabled;
const inEditMode = computed(() => editorSettingsStore.isOpened && props.block.id === editorSettingsStore.block?.id);
const componentName = computed(() => capitalize(props.block.type) + capitalize(props.block.subtype.replace("-", "")));
const components: any = {
  HeaderType1,
  HeaderType2,

  MainType1,

  AdvantagesType1,

  FaqType1,
  FaqType2,

  ContactsType1,
};

function handleActionButton(action: BlockActions) {
  emits("block-action", action, props.block);
}

</script>
<template>
  <div
    class="block"
    :class="editDisabled && 'block_disabled'"
  >
    <LegoComponentSettingsButtons
      v-if="!editDisabled"
      class="lego-settings"
      :class="inEditMode && 'in-edit-mode'"
      v-model:in-edit-mode="inEditMode"
      :block="block"
    />
    <LegoAddButton
      v-if="!editDisabled"
      :type="AddButtonInsertPlaceType.TOP"
      :block="block"
      :class="inEditMode && 'in-edit-mode'"
      class="lego-add-button top"
    />
    <Component
      class="component"
      :is="components[componentName]"
      :block="block"
      :style="getBackgroundColor(block.settings.background)"
    />
    <LegoAddButton
      v-if="!editDisabled"
      :type="AddButtonInsertPlaceType.BOTTOM"
      :block="block"
      :class="inEditMode && 'in-edit-mode'"
      class="lego-add-button bottom"
    />
    <LegoComponentActionButtons
      v-if="!editDisabled"
      class="lego-action-buttons"
      :class="inEditMode && 'in-edit-mode'"
      :is-hidden="block.settings.isHidden"
      @click:action-button="handleActionButton"
    />
    <LegoComponentHiddenCover v-if="block.settings.isHidden && !editDisabled" />
  </div>
</template>
<style lang="scss" scoped>
.block {
  width: 100%;
  border-top: 1px dashed transparent;
  border-bottom: 1px dashed transparent;
  position: relative;
  transition: .15s;

  &_disabled {
    border: none;

    &:hover {
      border: none;
    }
  }

  .component {
    font-family: "Inter", sans-serif;
  }

  &:hover {
    border-top-color: #9a9797;
    border-bottom-color: #9a9797;

    .lego-add-button {
      opacity: 1;
    }

    .lego-action-buttons {
      display: block;
    }

    .lego-settings {
      display: flex;
    }
  }

  .lego-add-button {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    opacity: 0;
    z-index: 10;

    &.top {
      top: -22px;
    }

    &.bottom {
      bottom: -20px;
    }
  }

  .lego-action-buttons {
    position: absolute;
    right: 15px;
    top: 15px;
    display: none;
    z-index: 10;
  }

  .lego-settings {
    position: absolute;
    top: 15px;
    left: 15px;
    display: none;
    z-index: 10;
  }

  .in-edit-mode {
    &.lego-add-button {
      opacity: 1;
    }

    &.lego-action-buttons {
      display: block;
    }

    &.lego-settings {
      display: flex;
    }
  }
}
</style>