<script lang="ts" setup>
import { BlockActions } from "~/components/Lego/interfaces";

const props = defineProps<{
  isHidden: boolean;
}>();
const emits = defineEmits<{
  (e: "click:action-button", action: BlockActions): any;
}>();

const buttons = computed(() => [
  {
    icon: "i-heroicons-chevron-up",
    action: BlockActions.UP,
    tooltip: "Поднять выше",
  },
  {
    icon: "i-heroicons-chevron-down",
    action: BlockActions.DOWN,
    tooltip: "Опустить ниже",
  },
  {
    icon: "i-heroicons-clipboard-document",
    action: BlockActions.COPY,
    tooltip: "Скопировать",
  },
  {
    icon: props.isHidden ? "i-heroicons-eye" : "i-heroicons-eye-slash",
    action: BlockActions.VISIBLE_TOGGLE,
    tooltip: props.isHidden ? "Скрыть" : "Показать",
  },
  {
    icon: "i-heroicons-trash",
    action: BlockActions.DELETE,
    tooltip: "Удалить",
  },
]);
</script>
<template>
  <UButtonGroup>
    <UTooltip
      :text="button.tooltip"
      v-for="button in buttons"
      :key="button.action"
    >
      <UButton color="white" :icon="button.icon" @click="emits('click:action-button', button.action)" />
    </UTooltip>
  </UButtonGroup>
</template>