<template>
  <div class="cover">
    <UIcon name="i-heroicons-eye-slash"
           style="font-size: 24px"
    />
    <div>
      Этот блок скрыт и не будет показан при публикации сайта.
    </div>
  </div>
</template>
<style lang="scss" scoped>
.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
  color: white;
  gap: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
</style>
<script setup lang="ts">
</script>