<script lang="ts" setup>
import type { IBlock } from "~/api/interfaces/IBlock";
import { useElementStore } from "~/store/useElementStore";
import { ElementsEnum } from "~/api/interfaces/ElementsEnum";
import type { ILink } from "~/components/Lego/Components/interfaces";
import { getLinkTargetType } from "~/components/Lego/Components/Header/utils/getLinkTargetType";
import { useBlocksStore } from "~/store/useBlocksStore";
import { getColorByScheme } from "~/utils/utils";
import type { TextTheme } from "~/api/interfaces/common";

const props = withDefaults(defineProps<{
  element: ILink;
  block: IBlock<any> | null,
  theme?: TextTheme
}>(), {
  block: null,
  theme: "default",
});

const elementStore = useElementStore();
const blocksStore = useBlocksStore();

function handleElementClick(e: Event) {
  if (!blocksStore.editDisabled) {
    e.preventDefault();
    elementStore.open(props.block, props.element, ElementsEnum.BUTTON);
  }
}
</script>
<template>
  <a
    :href="element.href"
    :target="getLinkTargetType(element.openInNewTab)"
    :style="getColorByScheme(block!.settings.background.colorScheme, theme)"
    @click="handleElementClick($event)"
  >
    <button class="lego__button">
      <slot />
    </button>
  </a>
</template>
<style lang="scss" scoped>
@import "@/assets/components-styles/components.base";
</style>