<script lang="ts" setup>
import type { IIcon } from "~/components/Lego/Components/interfaces";
import type { IBlock } from "~/api/interfaces/IBlock";
import type { TextTheme } from "~/api/interfaces/common";
import { ElementsEnum } from "~/api/interfaces/ElementsEnum";
import { useElementStore } from "~/store/useElementStore";
import { useBlocksStore } from "~/store/useBlocksStore";
import { getColorByScheme } from "~/utils/utils";

const props = withDefaults(defineProps<{
  element: IIcon;
  block: IBlock<any> | null,
  theme?: TextTheme,
}>(), {
  block: null,
  theme: "default",
});

const elementStore = useElementStore();
const blocksStore = useBlocksStore();

function handleElementClick() {
  if (!blocksStore.editDisabled) {
    elementStore.open(props.block, props.element, ElementsEnum.ICON);
  }
}
</script>
<template>
  <UIcon
    :class="getTextClassesBySize(element.size)"
    :style="getColorByScheme(block!.settings.background.colorScheme, theme)"
    :name="element.value"
    @click="handleElementClick" />
</template>