<script lang="ts" setup>
import type { IBlock } from "~/api/interfaces/IBlock";
import { useElementStore } from "~/store/useElementStore";
import { ElementsEnum } from "~/api/interfaces/ElementsEnum";
import type { IText } from "~/components/Lego/Components/interfaces";
import type { TextTheme } from "~/api/interfaces/common";
import { getColorByScheme } from "~/utils/utils";
import { useBlocksStore } from "~/store/useBlocksStore";

const props = withDefaults(defineProps<{
  element: IText;
  block: IBlock<any> | null,
  theme?: TextTheme,
}>(), {
  block: null,
  theme: "default",
});

const elementStore = useElementStore();
const blocksStore = useBlocksStore();

function handleElementClick() {
  if (!blocksStore.editDisabled) {
    elementStore.open(props.block, props.element, ElementsEnum.TEXT);
  }
}
</script>
<template>
  <div
    class="text"
    :class="getTextClassesBySize(element.size)"
    :style="getColorByScheme(block!.settings.background.colorScheme, theme)"
    @click="handleElementClick"
    v-html="element.value"
  />
</template>
<style lang="scss" scoped>
.text {
}
</style>