<script setup lang="ts">
import type { IBlock } from "~/api/interfaces/IBlock";
import TextElement from "~/components/Lego/Elements/TextElement.vue";
import LinkElement from "~/components/Lego/Elements/LinkElement.vue";
import type { HeaderType2 } from "~/components/Lego/Components/Header/interfaces/types";

const props = defineProps<{
  block: IBlock<HeaderType2>;
}>();
const listOne = computed(() => props.block.data.list.filter((item, index) => index % 2));
const listTwo = computed(() => props.block.data.list.filter((item, index) => !(index % 2)));
</script>
<template>
  <header class="header header-type-1">
    <div class="container">
      <div class="header-inner">
        <nav class="nav">
          <ul
            v-if="!block.hiddenFields.list"
            class="nav-list"
          >
            <li
              v-for="(item, i) in listOne"
              :key="i"
              class="nav-list__item"
            >
              <LinkElement
                class="nav-list__link"
                :element="item"
                :block="block"
              >{{ item.title }}
              </LinkElement>
            </li>
          </ul>
          <TextElement
            v-if="!block.hiddenFields.logoText"
            :element="block.data.logoText"
            :block="block"
          />
          <ul
            v-if="!block.hiddenFields.list"
            class="nav-list nav-list__second"
          >
            <li
              v-for="(item, i) in listTwo"
              :key="i"
              class="nav-list__item"
            >
              <LinkElement
                class="nav-list__link"
                :element="item"
                :block="block"
              >{{ item.title }}
              </LinkElement>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
</template>
<style lang="scss" scoped>
@import "@/assets/components-styles/header";

.header-type-1 {
  background: white;

  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    width: 100%;
  }

  .nav-list {
    flex: 1 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    &__second {
      justify-content: flex-end;
    }
  }
}
</style>