<script setup lang="ts">
import type { IBlock } from "~/api/interfaces/IBlock";
import type { HeaderType1 } from "~/components/Lego/Components/Header/interfaces/types";
import TextElement from "~/components/Lego/Elements/TextElement.vue";
import LinkElement from "~/components/Lego/Elements/LinkElement.vue";
import ButtonElement from "~/components/Lego/Elements/ButtonElement.vue";

const props = defineProps<{
  block: IBlock<HeaderType1>;
}>();
</script>
<template>
  <header class="header header-type-1">
    <div class="container">
      <div class="header-inner">
        <TextElement
          v-if="!block.hiddenFields.logoText"
          :element="block.data.logoText"
          :block="block"
        />
        <nav class="nav">
          <ul
            v-if="!block.hiddenFields.list"
            class="nav-list"
          >
            <li
              v-for="(item, i) in block.data.list"
              :key="i"
              class="nav-list__item"
            >
              <LinkElement
                class="nav-list__link"
                :element="item"
                :block="block"
              >{{ item.title }}
              </LinkElement>
            </li>
          </ul>
          <ButtonElement
            v-if="!block.hiddenFields.button"
            :block="block"
            :element="block.data.button"
          >
            {{ block.data.button.title }}
          </ButtonElement>
        </nav>
      </div>
    </div>
  </header>
</template>
<style lang="scss" scoped>
@import "@/assets/components-styles/header";

.header-type-1 {
  background: white;

  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .nav-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}
</style>