<script lang="ts" setup>
import type { IBlock } from "~/api/interfaces/IBlock";
import TextElement from "~/components/Lego/Elements/TextElement.vue";
import UiAccordion from "~/components/Common/UiAccordion.vue";
import type { FaqType2 } from "~/components/Lego/Components/Faq/interface";

const props = defineProps<{
  block: IBlock<FaqType2>;
}>();
const data = computed(() => props.block.data);
</script>
<template>
  <div class="faq faq-type-1">
    <div class="container">
      <TextElement
        v-if="!block.hiddenFields.title"
        class="mb-[50px]"
        :element="data.title"
        :block="block"
      />
      <div class="list">
        <UiAccordion
          :scheme="block.settings.background.colorScheme"
          :key="index"
          v-for="(item, index) in data.list"
          :opened="true"
          :hide-plus="true"
        >
          <template v-slot:ask>
            <TextElement
              :element="item.ask"
              :block="block"
              class="mb-[20px]"
            />
          </template>
          <template v-slot:answer>
            <TextElement
              :element="item.answer"
              :block="block"
            />
          </template>
        </UiAccordion>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
@import "@/assets/components-styles/faq";

.faq-type-1 {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>