<script setup lang="ts">
import { useAppStore } from "~/store/useAppStore";
import AppLogo from "~/components/Layout/AppLogo.vue";

withDefaults(defineProps<{
  withNav?: boolean
}>(), {
  withNav: true,
});
const appStore = useAppStore();
const links = computed(() => {
  const defaultLinks = [
    {
      label: "Главная",
      href: "/",
    },
    {
      label: "Сайты",
      href: "/sites",
    },
  ];

  if (!appStore.appLoading) {
    if (appStore.user) {
      defaultLinks.push({
        label: "Профиль",
        href: "/profile",
      });
    } else {
      defaultLinks.push({
        label: "Войти",
        href: "/auth/login",
      });
    }
  }

  return defaultLinks;
});
</script>
<template>
  <header class="header">
    <div class="headerInner">
      <NuxtLink to="/" class="logo">
        <AppLogo />
      </NuxtLink>
      <nav v-if="withNav" class="nav">
        <ul class="list">
          <li
            class="listItem"
            v-for="item in links"
            :key="item.href"
          >
            <NuxtLink
              :to="item.href"
              v-slot="{ isActive }"
            >
              <span
                :class="[{'activeLink': isActive}, 'link']"
              >{{ item.label }}</span>
            </NuxtLink>
          </li>
        </ul>
      </nav>
    </div>
  </header>
</template>
<style lang="scss" scoped>
.header {
  background: $gray;
  padding: 0 36px;

  &Inner {
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
    border-bottom: 1px solid $gray-hover;
    align-items: center;
  }

  .list {
    display: flex;
    gap: 24px;

    &Item {
      position: relative;

      .link {
        padding: 4px;
        transition: .2s ease-in-out all;
        font-weight: 500;

        &:hover {
          background: lighten($yellow, 20);
        }

        &:before {
          position: absolute;
          content: '';
          width: 100%;
          height: 5px;
          background-color: #FFDD2D;
          bottom: -26px;
          opacity: 0;
          transition: .2s ease-in-out opacity;
        }

        &.activeLink {
          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
}
</style>