<template>
  <div class="logo">
    <img src="/logo.png" alt="Логотип" class="logo__image">
    <div class="logo__text">
      <span class="text-red-500">Fast</span>
      <span class="text-blue-500">UI</span>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 20px;

  &__image {
    width: 40px;
  }
}
</style>