<script setup lang="ts">
const props = defineProps<{
  loading: boolean;
}>();

const title = computed(() => props.loading ? 'Создаем...' : 'Создать сайт');
const icon = computed(() => props.loading ? 'i-heroicons-face-smile' : 'i-heroicons-plus')
</script>
<template>
    <UCard class="card">
      <div class="content">
        <div class="p-1 bg-gray-300 flex align-baseline c-blue text-blue-500 rounded-full">
          <UIcon :name="icon" class="size-[20px]" />
        </div>
        <h3 class="title">{{ title }}</h3>
      </div>
    </UCard>
</template>
<style lang="scss" scoped>
.card {
  width: 350px;
  height: 180px;
  background-color: $gray;
  transition: .2s ease-in-out all;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title {
      font-weight: 500;
      font-size: 16px;
      color: gray;
    }
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 25px 50px -12px;
  }
}
</style>