<script lang="ts" setup>
import SiteCard from "./SiteCard.vue";
import { ref } from "vue";
import type { ISite } from "~/api/interfaces/ISite";
import UiSkeletonContainer from "~/components/Common/UiSkeletonContainer.vue";
import { SiteService } from "~/api/services/site.service";
import CreateSiteCard from "~/components/Pages/Sites/CreateSiteCard.vue";

const siteList = ref<ISite[]>([]);
const loading = ref<boolean>(true);
const createSiteLoading = ref(false);

async function getSiteList() {
  try {
    siteList.value = await SiteService.getSites();
  } catch (e) {
    console.error(e);
  } finally {
    loading.value = false;
  }
}

async function createSite() {
  if (createSiteLoading.value) {
    return;
  }
  createSiteLoading.value = true;
  await new Promise(res => {
    setTimeout(res, 1000);
  });
  try {
    const site = await SiteService.createSite();
    siteList.value.push(site);
  } catch (e) {
    console.error(e);
  } finally {
    createSiteLoading.value = false;
  }
}

getSiteList();
</script>
<template>
  <div>
    <h1 class="title">Сайты</h1>
    <UiSkeletonContainer :loading="loading">
      <template v-slot:skeleton>
        <div class="flex gap-[16px] flex-wrap">
          <USkeleton
            v-for="item in 3"
            :key="item"
            class="h-[150px] w-[350px]"
          />
        </div>
      </template>
      <div class="list">
        <CreateSiteCard
          :loading="createSiteLoading"
          @click="createSite"
        />
        <SiteCard
          v-for="site in siteList"
          :key="site.id"
          :site="site"
        />
      </div>
    </UiSkeletonContainer>
  </div>
</template>
<style scoped lang="scss">
.list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
</style>