<script setup lang="ts">
import type { ISite } from "~/api/interfaces/ISite";

const props = defineProps<{ site: ISite }>();
</script>
<template>
  <NuxtLink :to="`/sites/site/${props.site.id}`">
    <UCard class="card">
      <div class="content">
        <div class="url">{{ `${props.site.code}.com` }}</div>
        <div class="name">{{ props.site.name }}</div>
        <div class="date">Создано: {{ props.site.createdAt }}</div>
      </div>
    </UCard>
  </NuxtLink>
</template>
<style lang="scss" scoped>
.card {
  width: 350px;
  height: 180px;
  background-color: #0000007a;
  padding-top: 50px;
  transition: .2s ease-in-out all;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 25px 50px -12px;
  }

  .content {
    .name {
      font-weight: 700;
      font-size: 20px;
      color: white;
      margin-top: 8px;
    }

    .url {
      font-size: 13px;
      font-weight: 700;
      border-radius: 20px;
      background-color: #ffffff1f;
      color: white;
      padding: 2px 8px;
      width: fit-content;
    }

    .date {
      color: #ffffffa3;
      font-weight: 500;
      font-size: 13px;
    }
  }
}
</style>