<script lang="ts" setup>
import { useAppStore } from "~/store/useAppStore";
import { AuthService } from "~/api/services/auth.service";
import { useRouter } from "vue-router";

const appStore = useAppStore();
const router = useRouter();

async function logout() {
  try {
    await AuthService.logout();
    appStore.logout();
    await router.push("/");
  } catch (e) {
    console.log(e);
  }
}
</script>
<template>
  <div>
    <h1 class="title">Профиль</h1>
    <div class="content">
      <div>Имя пользователя: {{ appStore.user?.login }}</div>
      <UButton
        icon="i-heroicons-arrow-right"
        color="black"
        class="logout-button"
        @click="logout"
      >Выйти
      </UButton>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.b {
  color: red;
}

.logout-button {
  margin-top: 40px;
}
</style>