<script lang="ts" setup>
import { useBlockSettingsStore } from "~/store/useBlockSettingsStore";
import { BACKGROUND_COLORS } from "~/api/constants";
import { ColorScheme } from "~/api/interfaces/IBlock";
import type { BackgroundType } from "~/api/interfaces/IBlock";
import UiInputFile from "~/components/Common/UiInputFile.vue";
import { FileService } from "~/api/services/file.service";

const blockSettingsStore = useBlockSettingsStore();
const blocksStore = useBlocksStore();

function getColor(colorScheme: ColorScheme) {
  return colorScheme === "WHITE" ? "#fff" : "#000";
}

function handleColorClick(theme: BackgroundType) {
  const currentBackground = blockSettingsStore.block!.settings.background;
  blockSettingsStore.block!.settings.background = { ...currentBackground, ...theme };
  blocksStore.updateBlock(blockSettingsStore.block!);
}

function isActiveBackground(theme: BackgroundType): boolean {
  return blockSettingsStore.block!.settings.background.color === theme.color;
}

async function uploadFile(file: any) {
  try {
    const fileName: string = await FileService.uploadImageForSite(file, blocksStore.site!.id);
    blockSettingsStore.block!.settings.background.image = fileName;
    await blocksStore.updateBlock(blockSettingsStore.block!);
  } catch (e) {
    console.log(e);
  }
}

function deleteFile() {
  delete blockSettingsStore.block!.settings.background.image
  blocksStore.updateBlock(blockSettingsStore.block!);
}
</script>
<template>
  <div class="body">
    <div class="form">
      <UiInputFile @upload="uploadFile" />
      <div
        v-if="blockSettingsStore.block?.settings?.background?.image"
        class="delete-image"
        @click="deleteFile"
      >
        <UIcon name="i-heroicons-arrow-uturn-right" class="delete-image__icon"/>
        <span>Удалить текущее изображение</span>
      </div>
    </div>
    <div class="list">
      <div
        class="theme"
        :class="{'theme_active': isActiveBackground(theme)}"
        :style="{'background-color': theme.color}"
        v-for="theme in BACKGROUND_COLORS"
        :key="theme.color"
        @click="handleColorClick(theme)"
      >
        <div
          class="theme__line w-[80%]"
          :style="{backgroundColor: getColor(theme.colorScheme)}"
        ></div>
        <div
          class="theme__line w-[50%]"
          :style="{backgroundColor: getColor(theme.colorScheme)}"
        ></div>
        <div
          class="theme__line w-[50%]"
          :style="{backgroundColor: getColor(theme.colorScheme)}"
        ></div>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.body {
  .form {
    margin-bottom: 30px;

    .delete-image {
      cursor: pointer;
      color: #126DF7;
      font-weight: 500;
      margin-top: 15px;
      display: flex;
      align-items: center;
      gap: 10px;

      &__icon {
        font-size: 16px;
      }
    }
  }
}

.list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  .theme {
    padding: 20px 10px;
    border: 2px solid $gray;
    width: 45%;
    border-radius: 8px;
    height: 70px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px, rgba(0, 0, 0, 0.24) 0 1px 2px;

    &_active {
      border-color: #FFDD2D;
    }

    &__line {
      border-radius: 5px;
      height: 6px;
      margin-bottom: 5px;
    }
  }
}
</style>