<script lang="ts" setup>
import { useBlockSettingsStore } from "~/store/useBlockSettingsStore";
import StructureSettings from "~/components/EditorSettings/BlockSettings/StructureSettings.vue";
import BackgroundSettings from "~/components/EditorSettings/BlockSettings/BackgroundSettings.vue";
import UiSlideover from "~/components/Common/UiSlideover.vue";

const blockSettingsStore = useBlockSettingsStore();

</script>
<template>
  <UiSlideover
    @close="blockSettingsStore.closeSettings"
    v-model="blockSettingsStore.isOpened"
    :overlay="false"
    title="Настройки блока"
  >
    <template v-if="blockSettingsStore.block && blockSettingsStore.isOpened">
      <div class="body">
        <StructureSettings v-if="blockSettingsStore.type === 'STRUCTURE'" />
        <BackgroundSettings v-if="blockSettingsStore.type === 'BACKGROUND'" />
      </div>
    </template>
  </UiSlideover>
</template>
<style lang="scss" scoped>
.body {
  padding-right: 15px;
  max-height: calc(100vh - 100px);
}
</style>
