<script lang="ts" setup>
import type { HiddenFieldsType } from "~/api/interfaces/IBlock";
import { hiddenBlocksLang } from "~/lang/keysRU";
import { useBlockSettingsStore } from "~/store/useBlockSettingsStore";
import type { ComputedRef } from "vue";

type HiddenFieldsTypeKeys = keyof HiddenFieldsType;

const blockSettingsStore = useBlockSettingsStore();
const blocksStore = useBlocksStore();
const hiddenFields: ComputedRef<HiddenFieldsType> = computed(() => blockSettingsStore.block!.hiddenFields);
const hiddenFieldsKeys: ComputedRef<any[]> = computed(() => Object.keys(hiddenFields.value));

function handleToggle(field: keyof HiddenFieldsType) {
  blockSettingsStore.block!.hiddenFields[field] = !blockSettingsStore.block!.hiddenFields[field];
  blocksStore.updateBlock(blockSettingsStore.block!);
}
</script>
<template>
  <div v-for="field in hiddenFieldsKeys" class="row">
    <div class="label">{{ hiddenBlocksLang[field as HiddenFieldsTypeKeys] }}</div>
    <UToggle :model-value="!hiddenFields[field as HiddenFieldsTypeKeys]" @update:modelValue="handleToggle(field)" />
  </div>
</template>
<style lang="scss" scoped>
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  &:not(:last-child) {
    padding-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 15px;
  }

  .label {
    font-weight: 500;
    font-size: 13px;
  }
}
</style>