<script lang="ts" setup>
import type { ColorScheme } from "~/api/interfaces/IBlock";

withDefaults(defineProps<{
  opened: boolean,
  hidePlus?: boolean,
  scheme: ColorScheme
}>(), {
  opened: false,
  hidePlus: false,
});
defineEmits<{
  (e: "click:open"): void,
}>();
</script>
<template>
  <div
    class="container"
    :class="opened && 'opened'"
  >
    <div class="ask">
      <slot name="ask" />
      <UButton
        v-if="!hidePlus"
        :style="getColorByScheme(scheme)"
        icon="i-heroicons-plus"
        variant="ghost"
        color="black"
        size="xl"
        @click="$emit('click:open')"
      />
    </div>
    <div class="answer">
      <slot name="answer" />
    </div>
  </div>
</template>
<style lang="scss" scoped>
.container {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
  }

  .ask {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .answer {
    display: none;
  }

  &.opened {
    .answer {
      display: block;
    }
  }
}
</style>