<script lang="ts" setup>
const emits = defineEmits<{
  (e: "upload", value: any): void,
}>();
const file = ref("");

function handleChangeInput(e: any) {
  const uploadFile = e.target.files[0];
  emits("upload", uploadFile);
}
</script>
<template>
  <div>
    <UInput
      id="file"
      type="file"
      class="invisible h-0"
      v-model="file"
      @input="handleChangeInput"
    />
    <div class="label">
      Для загрузки изображения
      <label for="file" class="label__inner">
        выберите файл
      </label>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.label {
  font-weight: 500;

  &__inner {
    cursor: pointer;
    color: #126DF7;
  }
}
</style>