<script lang="ts" setup>

import AppLogo from "~/components/Layout/AppLogo.vue";
</script>
<template>
  <div class="block">
    <AppLogo />
    <div class="loader">
      <UIcon name="i-heroicons-face-smile" class="loader-icon" />
    </div>
  </div>
</template>
<style lang="scss" scoped>
.block {
  display: flex;
  align-items: center;
  gap: 10px;

  .loader {
    background-color: #FFDD2D;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    animation: rotate 1.5s linear infinite; /* Анимация будет вращаться бесконечно */

    &-icon {
      font-size: 40px;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>