<script setup lang="ts">
const cardUi = {
  body: {
    base: "flex-1",
    padding: "sm:pr-0",
  },
  ring: "",
  divide: "divide-y divide-gray-100 dark:divide-gray-800",
};

const props = withDefaults(defineProps<{
  modelValue: boolean;
  title?: string;
  ui?: any;
}>(), {
  title: "123",
  ui: {},
});
const emits = defineEmits<{
  (e: "update:modelValue", value: boolean): any;
  (e: "close"): any;
}>();

const isOpened = computed({
  get() {
    return props.modelValue;
  },
  set(value) {
    emits("update:modelValue", value);
    emits("close");
  },
});
</script>
<template>
  <USlideover
    v-model="isOpened"
    :ui="ui"
  >
    <UCard class="flex flex-col flex-1"
           :ui="cardUi">
      <template #header>
        <div class="flex items-center justify-between">
          <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-white">
            {{ title }}
          </h3>
          <UButton
            color="gray"
            variant="ghost"
            icon="i-heroicons-x-mark-20-solid"
            class="-my-1"
            @click="isOpened = false"
          />
        </div>
      </template>
      <slot />
    </UCard>
  </USlideover>
</template>