<script lang="ts" setup>
import TextElement from "~/components/Lego/Elements/TextElement.vue";
import type { IBlock } from "~/api/interfaces/IBlock";
import type { MainType1 } from "~/components/Lego/Components/Main/types";

const props = defineProps<{
  block: IBlock<MainType1>;
}>();
</script>
<template>
  <section class="section">
    <div class="body">
      <TextElement
        :element="block.data.title"
        :block="block"
        class="mb-[28px]"
      />
      <TextElement
        :element="block.data.caption"
        :block="block"
      />
    </div>
  </section>
</template>
<style lang="scss" scoped>
.section {
  min-height: 100vh;
  padding: 25% 20%;
}
</style>