<script setup lang="ts">
import { definePageMeta } from "#imports";
import RegisterForm from "~/components/Auth/RegisterForm.vue";

definePageMeta({
  layout: "auth",
});
</script>
<template>
  <RegisterForm />
</template>
