<script lang="ts" setup>
import type { IBlock } from "~/api/interfaces/IBlock";
import type { IContactsType1 } from "~/components/Lego/Components/Contacts/interface";
import TextElement from "~/components/Lego/Elements/TextElement.vue";

const props = defineProps<{
  block: IBlock<IContactsType1>;
}>();
</script>
<template>
  <div class="contacts contacts-type-1">
    <div class="container">
      <TextElement
        v-if="!block.hiddenFields.title"
        :element="block.data.title"
        :block="block"
        class="mb-[15px]"
      />
      <TextElement
        v-if="!block.hiddenFields.caption"
        theme="gray"
        :element="block.data.caption"
        :block="block"
      />
      <div class="list">
        <div
          class="contact" v-for="(item, index) in block.data.list"
          :key="index"
        >
<!--          <IconElement-->
<!--            :element="item.icon"-->
<!--            :block="block"-->
<!--          />-->
          <div>
            <TextElement
              :element="item.title"
              :block="block"
              class="mb-[10px]"
            />
            <TextElement
              v-if="!block.hiddenFields['list.caption']"
              :element="item.caption"
              :block="block"
              theme="gray"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
@import '@/assets/components-styles/contacts';

.contacts {
  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 40px;

    .contact {
      display: flex;
      gap: 20px;
      align-items: flex-start;
    }
  }
}
</style>