<script setup lang="ts">
import AppHeader from "~/components/Layout/AppHeader.vue";

const route = useRoute();

const isLogin = computed(() => route.path.split("/").includes("login"));
const title = computed( () => isLogin.value ? "Вход" : "Регистрация");
const description = computed(() => isLogin.value ?
  {
    text: "Нет аккаунта? Пройдите регистрацию",
    link: "/auth/register",
  } :
  {
    text: "Есть аккаунт? Войти",
    link: "/auth/login",
  });
</script>
<template>
  <div>
    <div>
      <AppHeader :with-nav="false" />
      <div class="body">
        <h1 class="title">FastUI - платформа для разработки сайтов</h1>
        <div class="content">
          <div class="form">
            <h2 class="form__title">{{ title }}</h2>
            <slot />
            <div class="form__description">
              <NuxtLink :to="description.link">{{ description.text }}</NuxtLink>
            </div>
          </div>
          <div class="info">
            <img src="/lego2.webp" alt="Картинка лего">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>

.body {
  max-width: 1024px;
  margin: 0 auto;
  min-height: calc(100vh - 77px);
  padding: 24px 36px 0 36px;

  .title {
    margin-bottom: 40px;
  }

  .content {
    display: flex;
    gap: 50px;

    .form {
      width: 50%;

      &__title {
        background-color: $gray;
        border-radius: 16px;
        padding: 10px 20px;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 20px;
      }

      &__description {
        background-color: $gray;
        border-radius: 16px;
        padding: 10px 20px;
        margin-top: 20px;

        a {
          color: #126DF7;
          transition: .2s ease-in-out all;
          font-size: 14px;
          font-weight: 500;

          &:hover {
            color: black;
          }
        }
      }
    }

    .info {
      width: 50%;
      background-color: $gray;
      border-radius: 16px;
      height: fit-content;
    }
  }
}
</style>
