<script setup lang="ts">
import AppHeader from "~/components/Layout/AppHeader.vue";
import { computed } from "vue";
import { useAppStore } from "#imports";
import UiLoader from "~/components/Common/UiLoader.vue";

const route = useRoute();
const isEditor = computed(() => route.path.includes("/edit"));
const appStore = useAppStore();
</script>
<template>
  <div class="app">
    <AppHeader />
    <div :class="['body', {
      'is-editor': isEditor,
      'is-loading': appStore.appLoading,
    }]">
      <UiLoader v-if="appStore.appLoading" class="loader">loading</UiLoader>
      <slot v-else />
    </div>
  </div>
</template>
<style scoped lang="scss">
.app {
  font-family: "Montserrat", sans-serif;
}

.body {
  min-height: calc(100vh - 77px);
  padding: 24px 36px 0 36px;

  &.is-editor {
    padding: 0;
  }

  &.is-loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loader {
    margin-top: -200px;
  }
}
</style>