<script setup lang="ts">
import Editor from "~/components/Editor/Editor.vue";
import { ref } from "vue";
import type { ISite } from "~/api/interfaces/ISite";
import { getSiteById } from "~/api/mocks/sites.mock";
import { useBlocksStore } from "~/store/useBlocksStore";
import { useRouter } from "vue-router";

const blocksStore = useBlocksStore();
const site = ref<ISite | null>(null);
const {
  params: {
    siteId,
    pageId,
  },
} = useRoute();
const router = useRouter();

function handlePublish() {
  window.open(`http://localhost:3000/r/${siteId}/${pageId}`);
}

async function getSite() {
  try {
    site.value = await getSiteById(siteId as string);
    blocksStore.site = site.value;
  } catch (e) {
    console.error(e);
  }
}

async function getData() {
  blocksStore.editDisabled = false;
  await Promise.all([getSite(), blocksStore.getBlocks(+pageId)]);
}

getData();
</script>
<template>
  <div v-if="site && blocksStore.blocks">
    <Editor :site="site" @publish="handlePublish" />
  </div>
</template>