<script lang="ts" setup>
import { ref } from "vue";
import PageCard from "~/components/Pages/Pages/PageCard.vue";
import type { ISite } from "~/api/interfaces/ISite";
import UiSkeletonContainer from "~/components/Common/UiSkeletonContainer.vue";
import CreatePageCard from "~/components/Pages/Pages/CreatePageCard.vue";
import { SiteService } from "~/api/services/site.service";
import { PageService } from "~/api/services/page.service";
import type { IPage } from "~/api/interfaces/IPage";

const site = ref<ISite | null>(null);
const pages = ref<IPage[]>([]);
const loading = ref(true);
const createPageLoading = ref(false);
const {
  params: {
    siteId,
  },
} = useRoute();

async function getSite() {
  try {
    site.value = await SiteService.getSiteById(+siteId);
    pages.value = site.value.pages;
  } catch (e) {
    console.error(e);
  } finally {
    loading.value = false;
  }
}

async function createPage() {
  if (createPageLoading.value) {
    return;
  }
  createPageLoading.value = true;
  await new Promise(res => {
    setTimeout(res, 1000);
  });
  try {
    const page = await PageService.createPage(+siteId);
    pages.value.push(page);
  } catch (e) {
    console.error(e);
  } finally {
    createPageLoading.value = false;
  }
}

getSite();
</script>
<template>
  <h1 class="title">Страницы сайта: {{ site?.name }}</h1>
  <UiSkeletonContainer :loading="loading">
    <div class="list" v-if="site">
      <CreatePageCard
        :loading="createPageLoading"
        @click="createPage"
      />
      <PageCard
        v-for="page in pages"
        :key="page.id"
        :page="page"
        :site="site"
      />
    </div>
  </UiSkeletonContainer>
</template>
<style lang="scss" scoped>
.list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
</style>