<script lang="ts" setup>
import { reactive } from "vue";
import type { FormError } from "#ui/types";
import { AuthService } from "~/api/services/auth.service";
import { useAppStore } from "~/store/useAppStore";
import { useRouter } from "vue-router";

const appStore = useAppStore();
const router = useRouter();
const state: IAuthRegisterRequest = reactive({
  login: "",
  password: "",
  repeatedPassword: "",
});
const errorText = ref("");
const loading = ref(false);
const validate = (state: any): FormError[] => {
  const errors = [];
  if (!state.login) {
    errors.push({
      path: "login",
      message: "Обязательное поле",
    });
  }
  if (!state.password) {
    errors.push({
      path: "password",
      message: "Обязательное поле",
    });
  }
  if (!state.repeatedPassword) {
    errors.push({
      path: "repeatedPassword",
      message: "Обязательное поле",
    });
  }

  if (state.password !== state.repeatedPassword) {
    errors.push({
      path: "password",
      message: "Пароли не совпадают",
    });
  }
  return errors;
};

async function onSubmit() {
  errorText.value = "";
  loading.value = true;
  try {
    const { accessToken, user } = await AuthService.register(state);
    appStore.auth(accessToken, user);
    router.push("/");
  } catch (e: any) {
    if (e?.message) {
      errorText.value = e.message;
    }
  } finally {
    loading.value = false;
  }
}
</script>
<template>
  <UForm
    class="form"
    :validate="validate"
    :state="state"
    @submit="onSubmit"
  >
    <UFormGroup label="Логин" name="login" class="form-group">
      <UInput v-model="state.login" />
    </UFormGroup>
    <UFormGroup label="Пароль" name="password" class="form-group">
      <UInput v-model="state.password" type="password"/>
    </UFormGroup>
    <UFormGroup label="Повторите пароль" name="repeatedPassword" class="form-group">
      <UInput v-model="state.repeatedPassword" type="password"/>
    </UFormGroup>
    <div class="error">{{ errorText }}</div>
    <UButton
      block
      color="black"
      :loading="loading"
      :disabled="loading"
      class="button"
      :class="{'with-error': errorText}"
      type="submit"
    >
      Зарегистрироваться
    </UButton>
  </UForm>
</template>
<style lang="scss" scoped>
.form {
  padding: 24px;
  background: $gray;
  width: 100%;
  border-radius: 16px;

  .form-group {
    margin-bottom: 15px;
  }

  .error {
    color: rgb(239, 68, 68);
    font-size: 12px;
    font-weight: 500;
  }

  .button {
    width: 100%;
    margin-top: 30px;

    &.with-error {
      margin-top: 15px;
    }
  }
}
</style>
