<script lang="ts" setup>
import LegoComponent from "~/components/Lego/LegoComponent.vue";
import { useBlocksStore } from "~/store/useBlocksStore";
import { ref } from "vue";
import type { ISite } from "~/api/interfaces/ISite";
import { useAsyncData } from "#app";
import { SiteService } from "~/api/services/site.service";

definePageMeta({
  layout: "site",
});
const {
  params: {
    siteId,
    pageId,
  },
} = useRoute();
const site = ref<ISite | null>(null);
const blocksStore = useBlocksStore();
async function getSite() {
  try {
    site.value = await SiteService.getSiteById(+siteId);
  } catch (e) {
    console.error(e);
  }
}

async function getData() {
  blocksStore.editDisabled = true;
  return await Promise.all([getSite(), blocksStore.getBlocks(+pageId)]);
}

await useAsyncData("page", () => getData());
useHead({
  title: `${blocksStore.page?.title}`,
});
</script>
<template>
  <LegoComponent
    v-for="block in blocksStore.resultBlocks"
    :key="block.id"
    :block="block"
  />
</template>