<script lang="ts" setup>
import type { IBlock } from "~/api/interfaces/IBlock";
import type { AdvantagesType1 } from "~/components/Lego/Components/Advantages/interfaces/AdvantagesType1";
import TextElement from "~/components/Lego/Elements/TextElement.vue";

const props = defineProps<{
  block: IBlock<AdvantagesType1>;
}>();
const data = computed(() => props.block.data);
</script>
<template>
  <div class="advantage advantage-type-1">
    <div class="container">
      <TextElement
        v-if="!block.hiddenFields.title"
        :block="block"
        :element="data.title"
        class="mb-[50px]"
      />
      <div
        v-if="!block.hiddenFields.list"
        class="advantage-list"
      >
        <div
          v-for="(item, i) in data.list"
          :key="i"
          class="advantage-item"
        >
          <TextElement
            class="advantage-item__title"
            v-if="item.title && !block.hiddenFields['list.title']"
            :block="block"
            :element="item.title"
            theme="additional"
          />
          <TextElement
            class="advantage-item__caption"
            v-if="item.caption && !block.hiddenFields['list.caption']"
            :block="block"
            :element="item.caption"
          />
          <TextElement
            class="advantage-item__sub-caption"
            v-if="item.subCaption && !block.hiddenFields['list.subCaption']"
            :block="block"
            :element="item.subCaption"
          />
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
@import "@/assets/components-styles/advantages";

.advantage-type-1 {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  .advantage-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 56px;
  }

  .advantage-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    max-width: 300px;

    &__title {
      color: rgba(17, 17, 17, .24);
    }
  }
}
</style>