.container {
  width: 1104px;
  margin: 0 auto;
}

.lego {
  &__button {
    border: 2px solid rgba(17,17,17,.16);
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 100px;
    font-size: 16px;
    padding: 6px 24px;
    transition: .3s;
  }
}